body {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	min-height: 100vh;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	margin: 0;
	background-color: #2c3e50;

}

header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

a {
	text-decoration: none;
	color: black;
}

main > *, header, footer {
	margin: 4px;
	padding: 5px;
	border-radius: 7px;
}

header,footer {
	background-color: #1abc9c;
	min-height: 100px;
}

main {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	min-height: 800px;
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
}

article {
	-webkit-box-flex: 4;
	-ms-flex: 4 1 60%;
	flex: 4 1 60%;
	background-color: #fff;
}

nav {
	-webkit-box-ordinal-group: 0;
	-ms-flex-order: -1;
	order: -1;
	background-color: #95a5a6;
	-webkit-box-flex: 1;
	-ms-flex: 1 1 20%;
	flex: 1 1 20%;
}

aside {
	background-color: #3498db;
	-webkit-box-flex: 1;
	-ms-flex: 1 1 20%;
	flex: 1 1 20%;
}

@media screen and (max-width: 640px) {
	main {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}

	article {
		-webkit-box-flex: 5;
		-ms-flex-positive: 5;
		flex-grow: 5;
		-webkit-box-ordinal-group: 0;
		-ms-flex-order: -1;
		order: -1;
	}
}